[Unit]
Description=Skateboard monitor webservice.

[Service]
Type=simple
ExecStart=/usr/bin/webmon.sh
#StandardOutput=fd:/var/log/skate/webmon.log

[Install]
WantedBy=multi-user.target

